body{
    background-color: black;
    margin: 0%;
}

h1{
    color: blue;
    text-align: center;
}

img{
    width: 400px;
}

@media screen and (max-width:480px){
    body{
        background-color:brown;
        img{
            max-width: 100px;
    }
}

@media screen and (max-width:280px){
    h1{
        font-size: 10px;
        color: brown;
    }
}
.box{
    display: none;
}

@media (min-width:1200px){
    h1{
        font-size: 20px;
}

@media only screen and (max-width:768px){
    body{
        background-color: blueviolet;   
    }
}

@media only screen and (orientation: landscape){
    h1{
        color: black;
    }
}